
<div class="container">
  <!-- componente de las acciones -->
  <app-file-actions
  [selectedFiles]="selectedFiles"
  (onNewFile)="handleNewFile()"
  (onDeletedFile)="handleDeletedFiles()">
  </app-file-actions>


  <!-- componente de la lista de archivos -->
   <app-file-list
   [files]="sortedFiles"
   [selectedFiles]="selectedFiles"
   (fileSelected)="handleFileSelected($event)">
   </app-file-list>
    
</div>



<!-- Modal para crear un nuevo archivo/carpeta -->
<div class="modal fade" id="newFileModal" tabindex="-1" aria-labelledby="newFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
       <!-- formulario para crear archivos  -->
        <app-file-form (fileCreated)="addNewFile($event)"></app-file-form>
      </div>
    </div>
  </div>
  